app-advanced-select {
  .mat-chip {
    color: #fff !important;
  }
  //
  //
  //.mat-chip-list-wrapper {
  //  display: inline;
  //}
  //
  //
  //input {
  //  margin-top: 14px !important;
  //  position: relative;
  //  top: -7px
  //}


  .mat-chip:not(.mat-basic-chip)+.mat-chip:not(.mat-basic-chip) {
    margin: 0 0 4px 8px !important;
  }



  .selectIcon {
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 16px;
  }

  .mat-chip-no-style {
    font-size: 18px;
    background: none !important;
    color: black !important;
    box-shadow: none !important;
  }
}
