app-advanced-select {
  .mat-chip {
    margin: 0 4px 4px 0 !important;
    color: #fff !important;
  }

  .mat-chip-list-wrapper {
    display: inline;
  }

  input {
    margin-top: 14px !important;
    position: relative;
    top: -7px
  }
}
