<mat-form-field style="width: 100%" (click)="click()">
  <mat-icon class="selectIcon" *ngIf="0">arrow_drop_down</mat-icon>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let tag of selectedValue"
              [selectable]="true"
              [removable]="true"
              (remove)="remove(tag)"
              [ngStyle]="{
              background: getColor(tag)
              }"
              [ngClass]="{
               'mat-chip-no-style': single
              }"
    >
      {{tag.label}}
      <mat-icon matChipRemove *ngIf="!single">cancel</mat-icon>
    </mat-chip>
    <input
      #inputEl
      matInput
      [placeholder]="placeHolder"
      [(formControl)]="inputControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputAddOnBlur]="true"
      [hidden]="disableInput"
      (blur)="afterAdd()"
    />


  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="add($event)">
    <mat-option *ngFor="let option of filteredOptions | orderBy: '__searchIndex'" [value]="option">
      {{ option.label }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
